h1{
    color: powderblue;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Gloock', serif;
    margin-bottom: 10px;
}

h2{
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Gloock', serif;
}

h3{
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Gloock', serif;
    margin-bottom: 5px;
}

h4{
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Gloock', serif;
    margin-bottom: 10px;
}

section{
    text-align: center;
    border: 5px solid black;
    width: 50%;
    padding:10px;
    margin: auto;
}

p{
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

